/***********************************
**								  **
**		   Default css            **                      
**							      **
***********************************/
* {
    padding: 0px;
    margin: 0px;
}
main, section, header, footer,nav,article {
    display: block;
}
#wrapper {
	margin: 0px auto;
	width: 100%;
}
.clear {
	clear:both;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
.navbar {
	margin-bottom: 0px;
}
/* change the button name later */
.btn-default1 {
	float: right;
	margin-top: 207px;
	background: transparent;
	border: none;
	color: #100F10;
	margin-right: 10px;
}
/*******************END Default***********************************/
/***********************************
**								  **
**		Page-1 index.html         **                      
**							      **
***********************************/
.welcomeHeader {
	background: #323442;
	height: 137px;
	direction: rtl;
	border: none;
	border-radius: 0px;
}
#welcomeHeader h1 {
	color: #e2c38d;
	margin-top: 4px;
	font-size: 80px;	
}
#welcomeHeader h3 {
	margin: -25px;
	font-size: 40px;
	margin-left: 17px;
	color: #e2c38d;
}
#logo {
    text-decoration: none;
    display: block;
    color: #e2c38d;
    margin-left: 60px;
    font-family: 'Noto Serif', serif;
    font-size: 80px;
    float: left;
}
.headerNavUl {
	margin-top: -3px;
	background: #323442;
	margin-top: 1px;
}
.headerNavUl li {
	margin-top: 20px;
}
.headerNavUl a {
	color: #e2c38d !important;
}
.headerNavUl a:hover {
	color: #E9E9E2 !important;
}
.burgerColor {
	background: #e2c38d;
	margin-top: 0px;
}
.glyphicon-heart {
	margin-top: -10px;
	color: #e2c38d;
	font-size: 25px;
}
.glyphicon-shopping-cart {
	margin-top: -10px;
	color: #e2c38d;
	font-size: 25px;	
}
.glyphicon-user {
	margin-top: -10px;
	color: #e2c38d;
	font-size: 25px;
}
.connectBtn {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom:3px;
	padding-top: 4px;
	border: 1px solid #e2c38d;
	background: #323442;
	color: #e2c38d;
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.connectBtn:hover {
	background: #B3BCA7;
}
.navBar {
	background: #28293a;
	float: left;
	width: 100%;
	height: 72px;
	margin-top: -10px;
	border:0px;
}
.navBar ul li {
	margin-top: 17px;
	float: right;
	margin-right: 35px;
}
.navBar a {
	text-decoration: none;
	font-size: 25px;
	margin-right: 25px;
	color:  #e2c38d;
}
.navBar a:hover {
	color: #E1DCE2;	
}
.main {
	background: url("../images/main4.png");
	float: left;
	width: 100%;
	height: 806px;
	margin-top: -20px;
	background-repeat: round;
}
.openWord {
	text-align: right;
	margin: 60px;
	color: #090A09;
	font-size: 25px;
}
.mainBtn {
	margin: 50px;
	text-align: right;
}
.mainBtn a {
	padding: 10px;
	text-decoration: none;
	border: 2px solid #E2C38D;
	border-radius: 3px;
	color: #E2C38D;	
}
.mainBtn a:hover {
	background: #A8A7A9;
}
#dialog {
	width: 382px;
	height: 426px;
	position: absolute;
	top: 230px;
	left: 500px;
	z-index: 2000px;
	border: 2px solid black;
	background: #d3be9b;
	direction: rtl;
}
.dialogHeader {
	margin-right: 11px;
}
.loginW {
    width: 336px;
    height: 49px;
    margin-right: 11px;
    padding-right: 10px;
    margin-bottom: 8px;
}
::-webkit-input-placeholder {
    color:    #74727B;
    margin-right: 10px;
}
.checkBoxW {
	margin-top: 10px;
}
.checkW {
	width: 25px;
	font-size: 10px;
}
.forgetW {
	margin-right: 11px;
}
.forgetW a {
	color: #101111;
}
.socialFace{
	background: url(../images/facebookW.png);
	margin-top: 10px;
	margin-right: 11px;
	margin-bottom: 8px;
	display: block;
	width: 310px;
	height: 55px;
}
.socialGoogle{
	background: url(../images/googleW.png);
	margin-top: 10px;
	margin-right: 11px;
	margin-bottom: 8px;
	display: block;
	width: 310px;
	height: 55px;
}
.loginUserBtn {
	margin-right: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	background: #BCB9B9;
	text-shadow: none;
}
/********************END PAGE-1**********************************/
/***********************************
**								  **
**		Page-2 HoopStep1.html     **                      
**							      **
***********************************/
.navBarPage {
	background: #28293a;
    width: 100%;
    height: 72px;
}
#navLogo {
	text-decoration: none;
	display: block;
	color: #e2c38d;
	margin-left: 60px;
	font-family: 'Noto Serif', serif;
	font-size: 50px;
	float: left;
	margin-top: -10px;
}
.simbleWrapper{
	position: absolute;
	top: 33px;
	left: 230px;
}
.simbleWrapper .glyphicon:hover {
	color: #E9F5F7 ;
	text-decoration: none;
}
.navUl {
	margin-top: -6px;
	text-align: right;
	background: #28293A;
}
.navUl a{
	color: #e2c38d !important;
	font-size: 17px;
}
.navUl a:hover{
	color: #E9F5F7 !important;
}
.mainSecondPage {
	width: 100%;
	height: 880px;
	background: #f1e8d7;
}
.hulaTitle{
	width: 100%;
	margin-left: -30px;
	direction: rtl;
}
.pickHulaColor2{
	float: right;
	margin-right: 30px;
	margin-top: 20px;
	background: #d8d0c1;
	width: 216px;
	height: 535px;
}
.pickHulaColor2 p {
	float: left;
	text-align: center;
	padding: 10px;
	background: #aea9a9;
	margin-top: 13px;
	margin-left: 11px; 
	margin-right: 11px;
}
.pickHulaPattern {
	list-style: none;
	float: left;
	margin-left: 5px;
}
.pickHulaPattern li {
	float: left;
	padding: 8px;
}
.pickHulaPattern button {
	display: block;
	float: left;
}
.btn-right {
	float: left;
	margin-top: 20px;
	border-radius: 40px;
	background: #100F10;
	margin-right: 15px;
}
.btn-left {
	float: left;
	margin-top: 20px;
	border-radius: 40px;
	background: #100F10;
	margin-left: 15px;
}
.btn-left:hover {
	background: #9B9AA0;
}	
.btn-right:hover {
	background: #B8B7BD;
}	
.btn-down:hover {
	background: #B8B7BD;
}		
.glyphicon-arrow-left {
	float: left;
	color: #d8d0c1;
}
.glyphicon-arrow-right {
	float: left;
	color: #d8d0c1;
}
.glyphicon-arrow-down {
	color: #d8d0c1;
}
.btn-down {
	float: left;
	border-radius: 40px;
	background: #100F10;
	margin-bottom: 14px;
	margin-left: 85px;
}
.liveColorDemoHula2{
	float: left;
	background: #d8d0c1;
	height: 535px;
	width: 596px;
	margin-top:20px;
	margin-left: 150px;
}
#svgHula {
	margin: 80px 0 0 -180px;
	width: 800px;
	height: 650px;
}	
.toSumUp2{
	position: absolute;
	top:250px;
	left: 70px;
}
.toSumUp1{
	position: absolute;
	top:250px;
	right: 65px;
}
.glyphicon-chevron-right {
	font-size: 70px;
}
.glyphicon-chevron-left {
	font-size: 70px;
}
.prodImg {
	width: 87px;
	height: 90px;
}

/************************** END HoopStep1 ***************************/
/***********************************
**								  **
**		Page-3 HoopStep2.html     **                      
**							      **
***********************************/
.designHula {
	float: right;
	width: 100%;
	text-align: right;
	margin-right: 145px;
	margin-top: 10px;
	margin-bottom: 47px;
}
.designHula a {
	color: #ACD5B3;
}
.summary {
	width: 80%;
	height: 613px;
	background: #d8d0c1;
	float: left;
	margin-left: 10%;
}
.summaryImg {
	float: left;
	margin-top: 27px;
	margin-left: 30px;
}
.summaryText {
	text-align: right;
	color: #000000;
	margin-right: 28px;
}
#summaryForm {
	color: black;
	margin-top: 30px;
}
.dataInputAge {
	margin-bottom: 10px;
	background: #bcb9b9;
	width: 97px;
	height: 21px;
	margin-right: 20px;
	direction: rtl;
	border: none;
}
.hulaSelectColor {
	margin-bottom: 10px;
	background: #bcb9b9;
	width: 97px;
	height: 21px;
	margin-right: 20px;
	direction: rtl;
	border: none;
}
.dataInputKind {
	margin-bottom: 10px;
	background: #bcb9b9;
	width: 97px;
	height: 21px;
	margin-right: 10px;
	direction: rtl;
	border: none;
}
.hulaAmount {
	width: 35px;
	height: 21px;
	background: #bcb9b9;
	border-radius: 5px;
	margin-right: 22px;
}
#addToCart {
	float: right;
	margin-right: 20px;
}
#addToCart a {
	padding: 10px;
	border: 3px solid #09110A;
	text-decoration: none;
	color: #09110A;
}
#addToCart a:hover {
	background: #9F9F9F;
}
#toMyFavorit {
	margin-top: 90px;
	margin-right: -150px;
	float: right;
}
.glyphicon-question-sign {
	color: black;
}
.heartColor {
	color: #c64949;
}
#toMyFavorit a {
	color:  #09110A;
	text-decoration: none;
}
#toMyFavorit a:hover {
	color:  #805999;
}
.heartColor:hover {
	color: #FF2D29;
}
.optionSummary {
	position: absolute;
	top: 600px;
}
.optionSummary ul {
	padding-top: 0px;
}
.optionSummary ul li {
	list-style-type: none;
	float: left;
	padding-top: 0px;
	margin-top: 69px;
	margin-left: 30px;
}
.hulaPrice{
	margin-right: 10px;
	font-size: 18px;
	color: #3f3f3f;
}
.heartOpacity {
	color: #FF2D29;
}
.faceBook {
	background: url(../images/faceBook.png);
	width: 65px;
	height: 65px;
	display: block;
	
}
.pick {
	background: url(../images/pick.png);
	width: 65px;
	height: 65px;
	display: block;
}
.twitter {
	background: url(../images/twitter.png);
	width: 65px;
	height: 65px;
	display: block;		
}
.addToFavor {
	margin-right: 60px;
}
.dataFromForm {
	margin-right: -5px;
	margin-top: 15px;
	background: #BCB9B9;
	text-shadow: none;
}
.cartIndicator {
	margin-right: -5px;
	margin-top: 15px;
	background: #BCB9B9;
	text-shadow: none;
}
.toolTip {
	direction: rtl;
}
.sumUp {
	margin-left: -102px;
    padding: 16px;
}

/************************** END HoopStep2 ************************/

/***********************************
**								  **
**		 Page-4 store.html        **                      
**							      **
***********************************/

.mainStore {
	width: 100%;
	background: #f1e8d7;
}
.storeCon {
	padding-top: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 80%;
    background: #d8d0c1;
    float: left;
    margin-left: 10%;}
.thumbnail {
	direction: rtl;
	background: #EDEDED;
}
.thumbnailToBuy {
	opacity: 0.5;
	box-shadow: 10px 10px 10px #3f3f3f;
}
.thumbnail img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.buyHulas {
	position: absolute;
	cursor: not-allowed;
	width: 100px;
	height: 60px;
	top: 100px;
	left: 200px;
}
.canBuy{
	opacity: 1;
	background: #BFBFBF;
	border: 1px solid #615E61;
}
.canBuy:hover {
	background: #D8D1D9;
	border: 1px solid #615E61;
}
.cantBuy{
	opacity: 0.4;
	background: #A9A49A;
	border: 1px solid #615E61;
}
.cantBuy:hover {
	background: #A9A49A;
	border: 1px solid #615E61;
}
.confirmOrder {
    text-align: center;
    font-size: 18px;
    color: #eee;
    padding-top: 20px;
    border-radius: 4px;
    position: absolute;
    width: 130px;
    height: 70px;
    top: 100px;
    left: 200px;
    background: #5cb85c;
    display: none;
    box-shadow: 10px 10px 30px #3f3f3f;
}
.simble:link {
	text-decoration: none;
	color: #e2c38d;
}
.simble:active {
	text-decoration: none;
	color: #e2c38d;
}
.simble:visited {
	text-decoration: none;
	color: #e2c38d;
}
/************************** END store.html ************************/

/***********************************
**								  **
**		Page-5  Cart.html         **                      
**							      **
***********************************/
.cartmd {
	float: right;
}
.mainCartPage {
    width: 100%;
    background: #f1e8d7;
    padding: 40px;
}
/************************** END Cart.html ************************/

/***********************************
**								  **
**		Page-3 HoopStep2.html	  **
**							      **
**		Hula Hoop ring color	  **                      
**							      **
***********************************/
.line1 {
	fill:#FBFFFF;
	stroke:#000000;
	stroke-miterlimit:10;
}
.line2 {
	fill:#FBFFFF;
	stroke:#000000;
	stroke-miterlimit:10;
}
.line3 {
	fill:#393939;
	stroke:#000000;
	stroke-miterlimit:10;
}
.line4 {
	fill:#FBFFFF;
	stroke:#000000;
	stroke-miterlimit:10;
}
.line5 {
	fill:#FBFFFF;
	stroke:#000000;
	stroke-miterlimit:10;
}
.line6 {
	fill:#393939;
	stroke:#000000;
	stroke-miterlimit:10;
}
.line7 {
	fill:#393939;
	stroke:#000000;
	stroke-miterlimit:10;
}
/***************************** END Ring ***************************/
/***********************************
**								  **
**		       MEDIA         	  **
**							      **              
**							      **
***********************************/
.active2 {
	background: #C2B9BD;
	border-radius:10px;
}
@media screen and (max-width: 1280px){
	.toSumUp2{
		top: 200px;
		left: 49px;
	}
	.toSumUp1{
		position: absolute;
		top: 200px;
		right: 39px;
	}

}
@media screen and (max-width: 1205px){
	.liveColorDemoHula2{
		float: left;
		background: #d8d0c1;
		height: 535px;
		width: 596px;
		margin-top:20px;
		margin-left: 70px;
	}	
	#svgHula {
		margin: 80px 0 0 -180px;
		width: 800px;
		height: 800px;
	}
	.summary {
		height: 78%;
	}
	#dialog {
		top: 230px;
		left: 400px;
	}
}
@media screen and (max-width: 1109px){
	.liveColorDemoHula2{
		float: left;
		background: #d8d0c1;
		height: 535px;
		width: 596px;
		margin-top:20px;
		margin-left: 20px;
	}	
	#svgHula {
		margin: 80px 0 0 -180px;
		width: 800px;
		height: 800px;
	}
	#dialog {
		top: 230px;
		left: 320px;
	}
}
@media screen and (max-width: 1050px){
	.mainSecondPage{
		height: 1100px;
	}
	.mainThirdPage {
		height: 890px;
	}
	.liveColorDemoHula2{
		float: left;
		background: #d8d0c1;
		height: 535px;
		width: 500px;
		margin-top:20px;
		margin-left: 65px;
	}	
	#svgHula {
		margin: 60px 0 0 -220px;
		width: 800px;
		height: 800px;
	}
	.toSumUp2{
		top: 200px;
		left: 25px;
	}
	.toSumUp1{
		position: absolute;
		top: 200px;
		right: 10px;
	}
	#dialog {
		top: 230px;
		left: 300px;
	}
}
@media screen and (max-width: 1000px){
	#svgHula {
		width:100%;
	}
	#wrapper {
		width: 100%;
	}
	#svgHula {
		margin: 60px 0 0 -80px;
	}
	.toSumUp2{
		top: 200px;
		left: 0px;
	}
	.toSumUp1{
		position: absolute;
		top: 200px;
		right: 1px;
	}
	#dialog {
		top: 230px;
		left: 250px;
	}
}
@media screen and (max-width: 998px){
	#welcomeHeader h1 {
		color: #e2c38d;
		margin-top: 4px;
		font-size: 40px;	
	}
	#welcomeHeader h3 {
		margin: -15px;
		font-size: 20px;
		margin-left: 17px;
		color: #e2c38d;
	}
	.headerBar {
		float: right;
		margin-right: 73px;
		font-family: Serif;
	}
	.headerBar li {
		margin-top: 33px;
		margin-left: 25px;
		float: right;
		color: #e2c38d;
		font-size: 17px;
	}
	.thumbnail img{
		width: 80%;
	}
	#dialog {
		top: 230px;
		left: 220px;
	}
}
@media screen and (max-width: 878px){
	.pickHulaColor2{
	}
	#navLogo {
		margin-top: -10px;
		margin-left: 20px;
		font-size: 50px;
	}
	.navUl a{
		font-size: 15px;
	}
	.simbleWrapper{
		left: 180px;
	}
	#dialog {
		width: 382px;
		height: 426px;
		position: absolute;
		top: 230px;
	    left: 600px;
		z-index: 2000px;
		border: 2px solid black;
		background: #d3be9b;
		direction: rtl;
	}
	#dialog {
		top: 230px;
		left: 200px;
	}
}
@media screen and (max-width: 840px){
	#svgHula {
		margin: 90px 0 0 -285px;
		width: 900px;
		height: 700px;
	}
	.liveColorDemoHula2{
		height: 535px;
		width: 470px;
		margin-top:20px;
		margin-left: 65px;
	}
	.toSumUp2 {
	    top: 200px;
	    left: 5px;
	} 
	#dialog {
		top: 230px;
		left: 150px;
	}
}
@media screen and (max-width: 815px){
	.toSumUp2{
		top: -100px;
		left: 20px;
	}
	.toSumUp1{
		position: absolute;
		top:-100px;
		right: 400px;
	}
	.liveColorDemoHula2{
		height: 535px;
		width: 450px;
		margin-top:20px;
		margin-left: 65px;
	}
	.glyphicon-chevron-right {
		font-size: 30px;
	}
	.glyphicon-chevron-left {
		font-size: 30px;
	}
}
@media screen and (max-width: 813px){
	.summaryImg img{
		width: 90%;
		margin: 0px;
	}
	.summary {
		width: 100%;
		margin: 0px;
	}
}
@media screen and (max-width: 790px){
	#svgHula {
		margin: 90px 0 0 -305px;
		width: 900px;
		height: 700px;
	}
	.liveColorDemoHula2{
		height: 535px;
		width: 430px;
		margin-top:20px;
		margin-left: 65px;
	}
}
@media screen and (max-width: 780px) {
	.navBar {
		display: none;
	}
}
@media screen and (max-width: 770px){
	#svgHula {
		margin: 90px 0 0 -325px;
		width: 900px;
		height: 700px;
	}
	.liveColorDemoHula2{
		height: 535px;
		width: 400px;
		margin-top:20px;
		margin-left: 65px;
	}
	.thumbnail img{
		width: 70%;
	}
}
@media screen and (max-width: 740px){
	#svgHula {
		margin: 90px 0 0 -325px;
	}
	.liveColorDemoHula2{
		height: 535px;
		width: 370px;
		margin-top:20px;
		margin-left: 65px;
	}
}
@media screen and (max-width: 710px){
	#svgHula {
		margin: 90px 0 0 -325px;
	}
	.pickHulaColor2 {
    	margin-right: 40px;
    	margin-right: 10px;
   	}
	.liveColorDemoHula2{
		height: 535px;
		width: 370px;
		margin-top:20px;
		margin-left: 65px;
	}
}
@media screen and (max-width: 690px){
	#svgHula {
		margin: 50px 0 0 -40px;
		width: 400px;
		height: 600px;
	}
	.pickHulaColor2 {
    	width: 428px;
    	height: 300px;
    	margin-right: 90px;
   	}
	.liveColorDemoHula2{
		height: 400px;
		width: 430px;
		margin-left: 134px;
	}
	.pickHulaColor2 p {
	    margin-left: 115px;
	}
	.btn-right {
	    margin-left: 100px;
	}
}
@media screen and (max-width: 674px){
	#wrapper {
		width: 100%;
	}
}
@media screen and (max-width: 607px){
	.toSumUp2{
		position: absolute;
		top:-100px;
		left: 50px;
	}
	.toSumUp1{
		position: absolute;
		top:-100px;
		right: 400px;
	}
	.pickHulaColor2 {
    	margin-right: 41px;
   	}
   	#dialog {
		top: 230px;
		left: 110px;
	}
}
@media screen and (max-width: 564px){ 
	.toSumUp2{
		position: absolute;
		top: -99px;
		left: 10px;
	}
	.toSumUp1{
		position: absolute;
		top:-100px;
		right: 340px;
	}
	.pickHulaColor2 {
    	margin-right: 41px;
   	}
   	.liveColorDemoHula2{
		height: 332px;
		width: 370px;
		margin-left: 70px;
	}
	#svgHula {
		margin: 50px 0 0 -65px;
		width: 400px;
		height: 500px;
	}
	.sumUp {
		margin-left: -60px;
    	padding: 16px;
	}
	#dialog {
		top: 230px;
		left: 90px;
	}
}
@media screen and (max-width: 505px){ 
	.toSumUp2{
		position: absolute;
		top: -113px;
		left: 10px;
	}
	.toSumUp1{
		position: absolute;
		top:-100px;
		right: 340px;
	}
	.pickHulaColor2 {
    	margin-right: 41px;
   	}
   	.liveColorDemoHula2{
		height: 332px;
		width: 370px;
		margin-left: 70px;
	}
	#svgHula {
		margin: 50px 0 0 -65px;
		width: 400px;
		height: 500px;
	}
	#dialog {
		top: 230px;
		left: 70px;
	}	
}
@media screen and (min-width: 481px) and (max-width: 655px){
	.liveColorDemoHula2{
		margin-left: 70px;
	}	
	#svgHula {
		margin: 30px 0 0 -60px;
	}
	.summary {
	    width: 100%;
	    margin: 0px;
	}
	.summaryImg {
    	width: 60%;
 	}
 	.optionSummary {
    	position: absolute;
    	top: 640px;
    	left: 50px;
   }
	.optionSummary img {
		width: 60%;
	}
	.optionSummary ul li {
    	margin-left: 0px;
 	}
 	.faceBook {
		margin-right: 20px;
	}
	.pick {
		margin-right: 20px;
	}
	.buyHulas {
		width: 100px;
		top: 100px;
		left: 50px;
	}
}
@media screen and (max-width: 502px){
	.mainThirdPage{
		height: 100%;
	}
	.designHula{
		position: relative;
		text-align: right;
		color: #000000;
		margin-right: 10px;
	}
	.optionSummary {
    	top: 850px;
 	}
	.buyHulas {
		position: absolute;
		cursor: not-allowed;
		width: 100px;
		height: 60px;
		top: 50px;
		left: 50px;
	}
	.storeSign {
    	opacity: 0.6;
    	margin-right: 80px;
	}
}
@media screen and (max-width: 490px) {
	#navLogo {
		margin-top: -3px;
		margin-left: 30px;
		font-size: 40px;
	}
	.simble {
		font-size: 20px;
		left: 0px;
	}
	.summary {
		height: 85%;
	}
	.optionSummary {
		margin-top: 80px;
	}
	.toSumUp1{
		position: absolute;
		top:-100px;
		right: 280px;
	}
	.pickHulaColor2 {
    	margin-right: 18px;
   	}
   	#dialog {
		top: 230px;
		left: 50px;
	}
}
@media screen and (max-width: 480px) {
	#navLogo {
		margin-top: -3px;
		margin-left: 30px;
		font-size: 40px;
	}
	.simble {
		font-size: 20px;
		left: 0px;
	}
	.summary {
		height: 89%;
	}
	.toSumUp1{
		position: absolute;
		top:-100px;
		right: 280px;
	}
	.liveColorDemoHula2{
		float: left;
		background: #d8d0c1;
		height: 350px;
		width: 300px;
		margin-top:20px;
		margin-left: 30px;
	}	
	#svgHula {
		margin: 20px 0 0 -105px;
		width: 400px;
		height: 600px;
	}
	.pickHulaColor2 {
    	margin-right: 61px;
    	width: 300px;
    	height: 560px;
   }
	.btn-right {
	    margin-left: 40px;
	}
	.pickHulaColor2 p {
	    margin-left: 50px;
	    margin-right: 11px;
	}
	.pickHulaPattern {
	    margin-top: 20px;
	    margin-left: 45px;
	}
	.optionSummary {
		margin-top: 80px;
		top: 940px;
		left: 20px;
		}
	.optionSummary img {
		width: 70%;
	}
	.optionSummary ul li {
    	margin-left: 0px;
  	  	margin-left: 10px;
 	}
 	.cartBox {
 		width: 100%;
 		padding: 50px;
 	}
 	#butBTN {
 		margin-left: -44px;
    	margin-top: -46px;
 	}
 	.storeSign {
 		opacity: 0.6;
    	margin-right: 65px;
    	font-size: 30px;
    	margin-top: -20px;
 	}
 	.orginstore {
    	margin-right: 65px;
    	font-size: 30px;
    	margin-top: 0px;	
 	}
 	#dialog {
		top: 230px;
		left: 6px;
	}
	.confirmOrder {
    	top: 30px;
    	left: 70px;
}

}
/******************* END Media***********************/

